html {
    scroll-behavior: smooth;
}
body{
    font-family: 'Open Sans', sans-serif;
}
/* Rules start */
*{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root{
    --main-color:#19c8fa;
    --sec-color:#5f5f5f;
    --transparent-color:#1e4e748c;
    --sec-padding:100px;
}
.container {
    padding-right: 20px;
    padding-left: 20px;
    margin-right: auto;
    margin-left: auto;
}
ul{
    list-style: none;
}
/*>> Special heading */
.main-heading{
    text-align: center;
}
.main-heading h1{
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    position: relative;
    margin-bottom:60px;
    text-transform: uppercase;
}
.main-heading h1::before{
    content: "";
    position: absolute;
    top: calc(100% + 10px);
    left: 50%;
    width:150px;
    transform: translateX(-50%);
    height: 2px;
    background-color: var(--sec-color);
}
.main-heading h1::after{
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: 20px;
    height: 20px;
    border:2px solid var(--sec-color);
    border-radius: 50%;
    background-color:#FFF;
}
.main-heading h1+p{
    width: 400px;
    max-width: 100%;
    margin: 0 auto 100px;
    font-size: 15px;
    line-height: 1.8;
    color: var(--sec-color);
}
/*<< Special heading */

/* Media Query start */
/* Small devices */
@media (min-width:768px){
    .container{
        width: 750px;
    }
}
/* Medium devices */
@media (min-width:992px){
    .container{
        width: 970px;
    }
}
/* Large devices */
@media (min-width:1200px){
    .container{
        width: 1170px;
    }
}
/* Media Query end */


/* Rules end */

/* Header start */
header{
    position: absolute;
    left: 0;
    width: 100%;
    z-index: 3;
}
header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    min-height: 85px;
}
header .container .logo{
    height: 30px;
}
header .container::after{
    content: "";
    background-color: #a2a2a2;
    position: absolute;
    bottom: -1px;
    left: 20px;
    height: 1px;
    width: calc(100% - 40px);
}

header .container nav {
    flex:1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
header nav .toggel-bar{
    font-size: 20px;
}

header nav ul {
    display: flex;
}

@media (min-width: 768px) {
    header nav .toggel-bar{
        display: none;
    }
}

@media (max-width:767px){
    header nav ul{
        display: none;
        
    }
    header nav .toggel-bar:hover+ ul{
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 100%;
        left: 0;
        width: 75%;
        background-color: rgb(0 0 0/ 40%);
    }
    header nav ul a{
        padding: 15px !important;
    }

}

.container nav ul a {
    display: block;
    text-decoration: none;
    padding: 40px 10px;
    color: #FFF;
    transition: 0.3s;
    font-size: 14px;
}

.container nav .search{
    height: 40px;
    border-left: 2px solid #FFF;
    display: flex;
    align-items: center;
    margin-left: 20px;
}
.container nav i{
    margin-left:25px ;
    color: white;
}
.container nav ul li .On,
.container nav ul li a:hover{
    color: var(--main-color);
    border-bottom:1px solid var(--main-color);
    
}
/* Header end */

/* Landing start */
.landing {
    min-height: 100vh;
    background-image:url('../images/landing.jpg');
    background-size: cover;
    position: relative;
}
.landing .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:rgb(0 0 0/ 60%)
}
.landing .text{
    position:absolute;
    top: 50%;
    left: 40px;
    transform: translateY(-50%);
    width: 50%;
    padding: 25px;
    color: #FFF;
    background-color:var(--transparent-color);
    display: flex;
    justify-content: center;
    
}
  @media  (max-width: 767px){ 
    .landing .text{
        width: 100%;
        left: 0;
        text-align: center;
    }
    .landing .content{
        width: 100%;
    }
    .landing .bg-a {
        display: none;
    }
} 

.landing .text .content{
    max-width: 500px;
}
.landing .content h2{
    font-size: 30px;
    line-height: 1.3;
    font-weight: normal;
    margin-bottom: 20px;
}
.landing .content p {
    font-size: 15px;
    line-height: 2;
}
.landing .bg-a{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #FFF;
    font-size: 25px;
}
.landing .left{
    left: 10px;
}
.landing .right{
    right: 10px;
}
.landing .bullets{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    width: 100px;
    display: flex;
    justify-content: space-around;
    margin-bottom: 25px;
}
.landing .bullets li {
    border: 1px solid white;
    border-radius: 50%;
    width: 20px;
    height: 20px;
}
.bullets .On{
    background-color:var(--main-color);
}

/* Landing end */
/* Services start */
.Services{
    padding-top: var(--sec-padding);
    padding-bottom: var(--sec-padding);
}
/* Note!I could have given 
margin-right to "i" but i chose flex for more practice*/
.services-content .srv{
    display: flex;
    justify-content:space-around;
    margin-bottom: 25px;
}
@media (min-width:768px){
    .services-content {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
        row-gap: 25px;
        column-gap: 20px;
    }
}
@media (max-width:767px){
    .services-content .srv {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        margin-bottom: 15px;
    }
    .srv i{
        font-size: 35px;
        margin-bottom: 15px;
    }
    
}

.services-content .srv-text{
    width: 80%;
}
.services-content .srv i{
    font-size: 30px;

}
.services-content .srv h3{
    font-size: 25px;
    color: var(--main-color);
    margin-bottom: 10px;

}
.services-content .srv p{
    line-height: 2;
    color: var(--sec-color);
}
/* Services end */

/* Design  start */
.Design{
    padding-top: var(--sec-padding);
    padding-bottom: var(--sec-padding);
    position: relative;
    height: 600px;
    background-image: url(../images/Digitalsolution.jpg);
    background-size: cover;
    display: flex;
    align-items: center;
    overflow: hidden;
}
.Design::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 60%);
}
.Design .img,
.Design .design-content{
    position: relative;
    flex: 1;
    z-index: 2;
}
.Design .img{
    text-align: center;
    bottom: -150px;
}
@media (max-width:767px){
    .Design{
        flex-direction: column;
    }
    .Design img{
        max-height: 180px;
    }
    .Design .img{
        position: absolute;
        top: 0;
        opacity: 0.7;
    }
  

}

.Design .design-content {
    background-color:var(--transparent-color);
    color: white;
    padding: 50px;
}
.design-content h3 {
    font-size: 28px;
    font-weight: normal;
    margin-bottom: 40px;

}
.design-content ul li{
    font-size: 15px;
    margin: 20px;
    position: relative;
}
.design-content ul li::before{
    font-family: 'Font Awesome 6 free';
    content: "\f108";
    font-weight: 900;
    position: relative;
    padding-right: 10px;
}
/* Design end */

/* Portfolio start */
.Portfolio{
    padding-top: var(--sec-padding);
    padding-bottom: var(--sec-padding);
}
.Portfolio .container .choice{
    display: flex;
    justify-content: center;
}
.Portfolio  .choice a{
    text-decoration: none;
    color: var(--sec-color);
    padding: 10px;
}
.Portfolio .choice .On{
    background-color:var(--main-color);
    color: white;
}
.portfolio-images {
    display: flex;
    flex-wrap: wrap;
    margin-top: 60px;
}
.portfolio-images .box{
    position: relative;
    overflow: hidden;
}
@media (min-width:768px){
    .portfolio-images .box{
        flex-basis: 50%;
    }
}
@media (min-width:1200px){
    .portfolio-images .box{
        flex-basis: 25%;
    }
}
.portfolio-images img{
    max-width:100%;
    transition: 0.3s;
}
.portfolio-images .image-txt{
    position: absolute;
    left: 0;
    bottom: -100%;
    width: 100%;
    background-color: #FFF;
    padding: 15px;
    transition: 0.3s;
}
.portfolio-images img:hover{
    transform: rotate(3deg) scale(1.2);
}
.portfolio-images .box:hover .image-txt{
    bottom: 0;
}
.portfolio-images .image-txt h4{
    margin-bottom: 10px;
    
}
.portfolio-images .image-txt p{
    color: var(--main-color);
}
.Portfolio .more{
    padding: 15px;
    text-decoration: none;
    color: white;
    background-color: var(--main-color);
    margin:50px auto;
    text-transform: uppercase;
}
/* Portfolio end */

/* Video-section start  */
.Video{
    position: relative;
}
.Video::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0/ 40%);
}
.Video video{
    width: 100%;
}
.Video .vd-text{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
    padding: 20px;
    background-color: var(--transparent-color);
    color: white;
}
.vd-text h3{
    text-transform: uppercase;
    margin-bottom: 15px;
}
.vd-text p {
    margin-bottom: 10px;
}
.vd-text button{
    color: white;
    background-color: black;
    padding: 5px 10px;
    text-transform: uppercase;
    border: none;
}
/* Video-section end */

/* About us start */
.About{
    padding-top: var(--sec-padding);
    overflow: hidden;
}
.About img{
    position: relative;
    max-width: 100%;
    bottom: -120px;
    margin-top: -120px;
}
@media (max-width:767px){
    .About img {
        bottom:-60px;
        margin-top: -60px;
    }
}
/* >>about-section */
.about-section{
    padding-top:var(--sec-padding);
    padding-bottom: var(--sec-padding);
    position: relative;
    /* photo from goodfon.com */
    background-image: url('../images/about-sec.jpg');
    background-size: cover;
    text-align: center;
}
.about-section::before{
    content:"";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:rgb(0 0 0/ 40%);
}
.about-section .container{
    position: relative;
    display:flex;
    flex-wrap: wrap;
}
.container .box {
    padding:25px;
    background-color:var(--transparent-color);
    color: white;
}
@media(max-width:767px){
    .container .box{
        flex-basis: 100%;
    }
}
@media(min-width:768px){
    .container .box{
        flex-basis: 50%;
    }
}
@media(min-width:1200px){
    .container .box{
        flex-basis: 25%;
    }
}

.container .box i{
    font-size: 20px;
    width: 30px;
    height: 30px;
    margin: 5px auto;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: black;
    box-shadow:inset 0 -2px 3px #1d7be6;
    animation-name: about-i;
    animation-iteration-count: infinite;
    animation-duration: 2s;
    animation-direction: alternate;
    
}
@keyframes about-i {
    50%{
        box-shadow:inset 1px 2px 3px #1d7be6,inset 2px -1px 3px #1d7be6,
        inset 1px 3px 3px #1d7be6;

    }
    to{
        box-shadow:inset -2px -1px 3px #e91e63,
        inset -2px -1px 3px #e91e6254;
    }
    
}
.container .box .number{
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 15px;
}
.container .box p{
    font-size: 13px;
}
/* About us end */
/*Our skills start */
.our-skills{
    padding-top:var(--sec-padding);
    padding-bottom: var(--sec-padding);
    text-align: center;
}
.our-skills .container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 70px;
}
@media (max-width:767px){
    .our-skills .container {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr ;
    }
}
.our-skills  .container> div >h3{
    font-weight: normal;
    font-size: 25px;
    margin-bottom: 15px;
    text-transform: uppercase;
}
.our-skills .container > div > p {
    font-size: 15px;
    line-height: 1.8;
    color: var(--sec-color);
    margin-bottom: 45px;
}
.our-skills .members > div{
    display: grid;
    grid-template-columns: 150px 1fr;
    margin-bottom: 30px; 
}
@media (max-width:767px){
    .our-skills .members> div{
        grid-template-columns: 1fr;
    }
    .our-skills .members img{
        margin:0 auto 15px;
    }
}
/* testimonials */
.our-skills .members> div img{
    border-radius: 50%;
    border:1px solid var(--sec-color);
}
.our-skills .members> div .description{
    line-height: 1.7;
    border-bottom: 1px solid orangered;
}
.our-skills .members> div p{
    color: var(--sec-color);
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: right;
    margin-bottom: 15px;
    position: relative;
}
.our-skills .members> div p::before{
    content: "\301E";
    font-size: 25px;
    position: absolute;
    bottom: -35px;
    right: -5px;
    color: var(--sec-color);
}
.our-skills .testimonials .bullets{
    display: flex;
    justify-content:center;
}
.our-skills .testimonials .bullets li{
    width: 15px;
    height: 15px;
    margin: 60px 0 40px 15px;
    border-radius: 50%;
    border:1px solid var(--sec-color);
}
/* skills */
.our-skills .skill-progress{
    margin-bottom: 40px;
}
.our-skills .skill-progress h4{
    font-weight: normal;
    text-transform: uppercase;
    margin-bottom: 15px;
    text-align: left;

}
.our-skills .skill-progress .prog{
     height: 30px;
     background-color:#d3d3d3;
}
.our-skills .skill-progress .prog span{
    height: 100%;
    background-color:var(--main-color);
    display: block;
    position: relative;
}
.our-skills .prog span::before{
    content:attr(data-progress);
    position: absolute;
    top: -45px;
    right: -20px;
    text-align: center;
    width: 35px;
    background-color:black;
    color: white;
    padding: 4px;
    border-radius: 5px;

}
.our-skills .prog span::after{
    content: "";
    position: absolute;
    top: -20px;
    right: -7px;
    border-style: solid;
    border-width: 10px;
    border-color: rgb(0, 0, 0) transparent transparent;
}
/*Our skills end */
/* Quote section start */
.quote{
    padding-top: var(--sec-padding);
    padding-bottom: var(--sec-padding);
    background-image: url("../images/quote.jpg");
    background-size: cover;
    position: relative;
    text-align: center;
    color: white;
}
.quote::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:rgb(0 0 0/ 50%);
}
.quote .container {
    position:relative;
    margin-top: 20px;
}
.quote .container q{
    font-size: 20px;
    font-weight: bold;
    line-height: 1.5;
    margin-bottom: 50px;
    position: relative;
}
.quote .container q::before{
    font-family: 'Font Awesome 6 free';
    content: "\f10d";
    position: absolute;
    top: -1px;
    left: -19px;
    font-size: 15px;
}
.quote .container q::after{
    font-family: 'Font Awesome 6 free';
    content: "\f10e";
    position: absolute;
    top: 40px;
    right: -19px;
    font-size: 15px;
}
.quote .container p{
    font-weight: bold;
    padding: 10px;
    background-color: #ff57228f;
    width: fit-content;
    margin: 30px auto 0;
}
/* Quote section end */
/* Pricing start */
.Pricing{
    padding-top: var(--sec-padding);
    padding-bottom: var(--sec-padding);
    text-align: center;
}
.Pricing .container .offers{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 25px;
    margin-bottom: 35px;
}
.Pricing .offers>div{
    background-color: #f8f8ff;
    border-top: 1px solid var(--main-color);
    
}
.Pricing .offers>div>h4{
    font-weight: normal;
    font-size: 20px;
    margin: 15px 0;
}
.Pricing .offers>div>span{
    display: block;
    font-weight: bold;
    font-size: 42px;
    width: 100%;
    margin: 0 auto;
    border-bottom: 1px solid var(--main-color);
    padding: 10px 40px 20px 0;
    position: relative;
}
.Pricing .offers>div>span::before{
    content: "/Mo";
    font-size: 25px;
    font-weight: bold;
    position: relative;
    bottom: 0;
    left: 105px;
}
.Pricing .offers>div>span::after{
    content: "$";
    font-size: 25px;
    font-weight:400;
    position: relative;
    top: -20px;
    right:70px;
}
.Pricing .offers>div ul{
    margin: 15px 0;
}
.Pricing .offers>div li{
    border-bottom: 1px solid var(--main-color);
    width: fit-content;
    margin: 15px auto;
    padding: 10px;
}
.Pricing .offers>div li:last-child{
    width: 100%;
}
.Pricing .offers>div a {
    display: block;
    padding: 15px;
    width: fit-content;
    border: 1px solid var(--main-color);
    margin: 20px auto;
    text-decoration: none;
}

.Pricing .price-contact p {
    font-weight: bold;
    margin-top: 75px;
}
.Pricing .price-contact a {
    text-decoration: none;
    padding: 15px;
    display: block;
    background-color:var(--main-color);
    width: fit-content;
    margin: 20px auto;
    color: white;
}
/* Pricing end */
/* Subscribe start */
.Sub{
    padding-top: var(--sec-padding);
    padding-bottom: var(--sec-padding);
    background-image: url("../images/subscribe.jpg");
    background-size: cover;
    position: relative;
    color: white;
}
.Sub::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color:rgb(0 0 0 / 60%);
}
.Sub .container{
    position:relative;
    display: flex;
    align-items: center;
}
@media (max-width:991px){
    .Sub .container{
        flex-direction: column;
    }

}
.Sub .container form{
    display: flex;
    position: relative;
    width: 450px;
    max-width: 100%;
}
.Sub form i{
    position: absolute;
    top: 22px;
    left: 12px;
}
.Sub form input[type="email"] {
    background: none;
    border: 1px solid white;
    border-right: none;
    padding: 20px 20px 20px 50px;
    color: white;
    caret-color: var(--main-color);
    width: calc(100% - 130px);
}
.Sub form input[type="submit"]{
    width: 120px;
    border: 1px solid white;
    border-left: none;
    background-color: var(--main-color);
    padding: 15px;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
}
.Sub form ::placeholder {
    color: white;
}
.Sub .container p {
    margin-left: 40px;
    line-height: 2;
}
@media (max-width:991px){
    .Sub .container p{
        margin: 30px 0 0;
    }
}
/* Subscribe end */
/* Contact us start */
.Contact-us{
    padding-top: var(--sec-padding);
    padding-bottom: var(--sec-padding);
}
.Contact-us .contact-content{
    display: flex;
    justify-content: space-between;
}
@media (max-width:767px){
    .Contact-us .contact-content {
        flex-direction: column;
    }
}
.Contact-us .contact-content form{
    flex-basis: 70%;
}
.contact-content form .main-input{
    display: block;
    margin-bottom: 15px;
    padding: 20px;
    border: 1px solid #0047ab;
    width:100%;
    outline: none;
    caret-color:#0047ab;
}
.contact-content form textarea{
    height: 200px;
}
.contact-content form input[type="submit"]{
    padding: 20px;
    border: none;
    background-color: var(--main-color);
    color: white;
    display: flex;
    margin-left: auto;
    cursor: pointer;;
}
.contact-content .info{
    flex-basis: 25%;
}
@media (max-width:767px){
    .contact-content .info{
        text-align: center;
        order: -1;
        margin-bottom: 30px;
        display: flex;
        justify-content: space-evenly;
    }
}
.contact-content .info h4{
    color:#0047ab;
    text-transform: uppercase;
    margin-bottom: 15px;
}
.contact-content .info span{
    display: block;
    color: var(--sec-color);
    margin-bottom: 10px;
}
.contact-content .info span:nth-of-type(2){
    margin-bottom: 30px;
}
.contact-content .address h4{
    margin-bottom: 0px;
    font-style: italic;
}
.contact-content .address address{
    color: var(--sec-color);
    line-height: 1.7;
    margin-top: 10px;
}

@media (max-width:767px){
    .contact-content .info .phone{
        flex-basis: 30%;
    }
    .contact-content .info .address{
        flex-basis: 30%;
    }
    .contact-content .address address{
        color: var(--sec-color);
        line-height: 1.7;
    }


}
/* Contact us end */

/*>> Footer */
.Footer{
    padding-top:calc(var(--sec-padding) /2);
    padding-bottom:calc(var(--sec-padding) /2);
    background-image: url("../images/subscribe.jpg");
    background-size: cover;
    position: relative;
    color: white;
    text-align: center;
}
.Footer::before{
    content:"";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:rgb(0 0 0 / 60%);
}
.Footer .container{
    position: relative;
   
}
.Footer img{
    margin-bottom: 25px;
}
.Footer .container h3 {
    font-size: 22px;
    font-weight: normal;
    text-transform: uppercase;
    padding: 15px;
    border-bottom: 1px solid white;
    width:fit-content;
    margin: 15px auto ;
}
.Footer .social-link i{
    padding: 10px 10px;
}
.Footer .copy{
    margin-top: 50px;
}
.Footer .copy span{
    color: var(--main-color);
    font-weight: 700;
}


/*>> Footer */